.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 80px;
}

.wd-kanbas-navigation li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
  size-adjust: none;
}

.wd-kanbas-navigation li.wd-active {
  background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
  color: rgb(195, 50, 54);
}

.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
  size-adjust: none;
}

.wd-kanbas-navigation a i {
  color: rgb(195, 50, 54);
  font-size: 20px;
  margin-bottom: 5px;
}

.wd-kanbas-navigation h1.red {
  color: rgb(195, 50, 54);
  font-size: 50px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
}
